Requirements

This project was developed using Google Colab with Python.

Python Version
- Python 3.10+

Main Libraries
Install dependencies with:

pip install pandas numpy matplotlib seaborn scikit-learn nltk

Libraries Used
pandas — data manipulation
numpy — numerical operations
matplotlib — visualization
seaborn — statistical visualization
scikit-learn — machine learning models & evaluation
nltk — text preprocessing
scipy — sparse matrix operations
